address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
body {
    width: 50%;
    margin: 2% auto;
  }
  
  div {
    background: transparent;
    font-family:"Lucida Console", monospace;
  }
  
  h4 {
    font-size: 1.2em;
    font-family: "Courier New", monospace;
    margin-block: 0px;
  }

  section {
    padding: 15px 50px
  }
  hr {
    border-top: 1px solid red;
  }
  p {
    border: 2px;
    padding: 10px;
    margin: 10px;
  }
  p#title{
    font-weight: bold;
  }

  span {
    background: white;
    padding-bottom: 2%;
  }